# Nuxt
.nuxt
.output
.data
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
.turbo/

# Cache
.eslintcache
.stylelintcache

# Temporary files
*.tmp
*.temp
